<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>chooseHandler</string>
		<key>Title</key>
		<string>Choose app</string>
		<key>Titles</key>
		<array>
			<string>twitter</string>
			<string>tweetbot</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>twitter://</string>
			<string>tweetbot://</string>
		</array>
	</dict>
</array>
</plist>
